.header {
  background-color: var(--col--black);
  color: var(--col--wh);
  // padding-top: 16px;
  // padding-bottom: 14px;

  &__container {
    display: flex;
    align-items: center;
    gap: 27px;
  }

  &__logo {
    width: 144px;
    flex-shrink: 0;

    img {
      display: block;
    }
  }

  &__desktop-nav {}

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    // flex-wrap: wrap;
  }

  &__nav-link {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    color: var(--col--wh);
    text-decoration: none;
    transition: all 0.3s;
    letter-spacing: 0.05em;
    padding: 26px 23px;

    position: relative;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      display: block;
      height: 33%;
      width: 1px;
      background-color: var(--col--wh);
      opacity: 0.2;
      position: absolute;
      right: 0;
    }


    &--active {
      color: var(--col-accent);
    }

    &:hover {
      background-color: var(--col-accent-2);
      color: var(--col--wh);

      &::after {
        display: none;
      }
    }
  }

  &__nav-item {
    &:last-child a {

      &::after {
        display: none;
      }
    }


  }

  &__buttons {
    margin-left: auto;
    max-width: 176px;

    a {
      text-decoration: none;
    }
  }

  &__tel {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: var(--col--wh);
    text-decoration: none;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    gap: 16px;

    svg {
      width: 16px;
    }
  }

  &__menu-btn {
    display: none;
  }

  &__filter-btn {
    display: none;
  }

  @media (max-width: 960px) {
    &__logo {
      margin-right: 33px;
    }
    &__nav-link {
      height: 72px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__tel {
      width: 72px;
      height: 72px;
      justify-content: center;
      border-right: 1px solid;
      border-color: var(--col-bg);
      span {
        display: none;
      }
      svg {
        width: 23px;
      }
    }

    &__buttons {
      max-width: initial;
      display: flex;
    }

    &__filter-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 72px;
      height: 72px;
      border-right: 1px solid;
      border-left: 1px solid;
      border-color: var(--col-bg);

      svg {
        pointer-events: none;
        position: absolute;
        opacity: 1;
        transition: all 0.3s;
      }

      .cross {
        opacity: 0;
      }
    }

    &__container {
      gap: 0;
    }
    &__nav-item {
      max-width: 30%;
    }
    &__nav-link {
      // text-align: center;
      // justify-content: center;
    }
  }


}


