.header {
  background-color: var(--col--black);
  color: var(--col--wh);
  // padding-top: 16px;
  // padding-bottom: 14px;

  &__container {
    display: flex;
    align-items: center;
    gap: 27px;
  }

  &__logo {
    max-width: 144px;

    img {
      display: block;
    }
  }

  &__desktop-nav {}

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__nav-link {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    color: var(--col--wh);
    text-decoration: none;
    transition: all 0.3s;
    letter-spacing: 0.05em;
    padding: 26px 23px;

    position: relative;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      display: block;
      height: 48%;
      width: 1px;
      background-color: var(--col--wh);
      opacity: 0.2;
      position: absolute;
      right: 0;
    }


    &--active {
      color: var(--col-accent);
    }

    &:hover {
      background-color: var(--col-accent);
      color: var(--col--wh);

      &::after {
        display: none;
      }
    }
  }

  &__nav-item {
    &:last-child a {
      // padding-right: 0;

      &::after {
        display: none;
      }
    }

    /* &:first-child a {
      padding-left: 0;
    } */


  }

  &__buttons {
    margin-left: auto;
    max-width: 176px;

    a {
      text-decoration: none;
    }
  }

  &__tel {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: var(--col--wh);
    text-decoration: none;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    gap: 16px;

    svg {
      width: 16px;
    }
  }

  &__menu-btn {
    display: none;
  }

  &__filter-btn {
    display: none;
  }
}
