.mobile-menu {
  display: none;

  @media (max-width: 750px) {

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__link {
      text-decoration: none;
      color: var(--col--wh);
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      padding: 20px;
      display: flex;
      height: 55px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      background-color: var(--col-bg);
      border-top: 1px solid;
      border-color: var(--col--gray);

      svg {
        transition: all 0.3s;
      }

      &:hover,
      &:focus {
        color: var(--col--wh);
        background-color: var(--col-accent);
        border-color: transparent;

        svg {
          transform: rotate(90deg);
          transform-origin: center center;
          path {
          stroke: var(--col--wh);
          }
        }
      }
    }

    &--filter {
      display: block;

      .mobile-menu__link {
        color: var(--col--wh);
        background-color: var(--col-accent);
        border: none;

        &:hover,
        &:focus {
          svg {
            transform: none;
          }
          path {
            stroke: none;
            }
        }

      }
    }

  }


}
