.title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: var(--col--wh);
  font-size: 40px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 30px;
  }
}
