:root {
  --ff-1: 'Inter', sans-serif;

  --col-bg: #121212;
  --col-text: #B7B7B7;
  --col-accent: #00A5FF;
  --col-accent-2: #004B88;
  --col--wh: #FFFFFF;
  --col--black: #000000;
  --col--gray: #333333;




}
