.wrapper {
  max-width: calc(1504px + 48px + 48px);
  padding: 0 48px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    padding: 0 40px;
  }

  @media (max-width: 375px) {
    padding: 0 20px;
  }

}
